target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
mvnw*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

###项目过程文件
*.pid
*.log
tmp/
# 指纹图片
finger-img